<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>constructionApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B29F1D412F736FBC001A0335</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B29F1D4E2F736FBE001A0335</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B29F1D582F736FBE001A0335</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
